@mixin font-face($nameDir, $fileName, $font-family, $font-weight, $font-style: normal) {
  @font-face {
    font-family: $font-family;
    src: url('../assets/fonts/#{$nameDir}/#{$fileName}.woff2') format('woff2'),
    url('../assets/fonts/#{$nameDir}/#{$fileName}.woff') format('woff');
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

// Example:
// @include font-face(Roboto, Roboto-Light, 'Roboto Light', 300)